@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

// font-family: 'Big Shoulders Display', cursive;

// font-family: 'Lexend Deca', sans-serif;

$clr--sedans : hsl(31, 77%, 52%);
$clr--suvs : hsl(184, 100%, 22%);
$clr--luxury : hsl(179, 100%, 13%);

$clr--secondary : hsla(0, 0%, 100%, 0.75);
$clr--primary : hsl(0, 0%, 95%);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html { 
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}
body {
    height: 100vh;
    padding: 1.6rem;
}
main {
    border-radius: 10px;
    overflow: hidden;
    width: max-content;
    display: flex;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    max-width: 61.333333333336rem;
    height: 100%;
}
.heading {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2.66rem;
    text-transform: uppercase;
    color: $clr--primary;
    margin: 0.75em 0;
}

body, .btn {
    background-color: $clr--primary;
}
.info {
    color: $clr--secondary;
    width: 14rem;
    line-height: 1.6;
    margin-bottom: 5.66rem;
}
.card {
    padding: 3.1rem;
}
.btn {
    padding: 1em 2em;
    border-radius: 1000px;
    display: inline-block;
    text-decoration: none;
}
.suv {
    background-color: $clr--suvs;
    .btn {
        color: $clr--suvs;
    }
}
.sedan {
    background-color: $clr--sedans;
    .btn {
        color: $clr--sedans;
    }
}
.luxury {
    background-color: $clr--luxury;
    .btn {
        color: $clr--luxury;
    }
}
@media (max-width:50.66rem) {
    body {
        height: max-content;
    }
    main {
        flex-direction: column;
    }
    .card {
        width: minmax(21.86rem, 100%);
    }
    .info {
        margin-bottom: 1.86rem;
    }
}

.btn:hover {
    outline: 2px solid $clr--primary;
    color: $clr--primary;
    background-color: transparent;
}